<nav class="navbar navbar-dark bg-dark">
  <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
  <a class="btn btn-sm btn-success text-white" routerLink="/matches">Matches</a>
  <a class="btn btn-sm btn-success text-white" routerLink="/teams">Teams</a>
  <a class="btn btn-sm btn-success text-white" routerLink="/practises">Practises</a>
</nav>


<div class="row">
  <div class="col-sm">
    <div class="shot-map" (click)="getpos($event)">
      <div *ngIf="this.showBall" class="circle" [style.left.px]="this.PX" [style.top.px]="this.PY"></div>
    </div>
  </div>
  <div class="col-sm">
    <!--  <div class="side-inputs">
      <label>X</label>
      <input [(ngModel)]="this.X">
  </div>
  <div class="side-inputs">
      <label>Y</label>
      <input [(ngModel)]="this.Y">
  </div> -->
    <div class="side-inputs">
      <label>Bodypart</label>
      <select (change)="calculateXg()" [(ngModel)]="this.part">
        <option value="">-Select-</option>
        <option value="Head">Head</option>
        <option value="Left">Left foot</option>
        <option value="Right">Right foot</option>
      </select>
    </div>
    <div class="side-inputs">
      <label>Cross</label>
      <select [(ngModel)]="this.Cross" (change)="calculateXg()">
        <option value="">-Select-</option>
        <option value="Header">Header cross</option>
        <option value="Foot">Foot cross</option>
        <option value="No">No</option>
      </select>
    </div>
    <div class="side-inputs">
      <label>Pattern</label>
      <select [(ngModel)]="this.Pattern" (change)="calculateXg()">
        <option value="">-Select-</option>
        <option value="Regular">Regular</option>
        <option value="Corner">Corner</option>
        <option value="Side">Side Freekick</option>
        <option value="Free">Direct Freekick</option>
        <option value="SideToss">Throw in</option>
        <option value="SetPiece">Set piece</option>

      </select>
    </div>
    <div class="side-inputs">
      <label>Big Chance</label>
      <select [(ngModel)]="this.BigChange" (change)="calculateXg()">
        <option value="">-Select-</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
    </div>
    <div class="side-inputs">
      <label>No Chance</label>
      <select [(ngModel)]="this.NoChange" (change)="calculateXg()">
        <option value="">-Select-</option>
        <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
    </div>
    <div class="side-inputs">
      <label>xG</label>
      <input [(ngModel)]="this.Xg">
    </div>
  </div>
</div>

