<div class="banner">
    <h1>Matches</h1>
  </div>
<div class="table-wrapper">
<table class="fl-table">
  <thead>
  <th>Homename</th>
  <th>Away</th>
  <th>Home goals</th>
  <th>Away goals</th>
  <th>Home Total</th>
  <th>Away Total</th>
  <th>Home xG</th>
  <th>Away xG</th>
  <th><a class="btn btn-sm btn-success text-white" routerLink="/match">Create new</a></th>
  </thead>
  <tbody>
    <tr *ngFor="let item of matchList">
      <td (click)="openForEdit(item.MatchID)">{{item.HomeName}}</td>
      <td (click)="openForEdit(item.MatchID)">{{item.AwayName}}</td>
      <td (click)="openForEdit(item.MatchID)">{{item.HomeGoals}}</td>
      <td (click)="openForEdit(item.MatchID)">{{item.AwayGoals}}</td>
      <td (click)="openForEdit(item.MatchID)">{{item.HomeTotal}}</td>
      <td (click)="openForEdit(item.MatchID)">{{item.AwayTotal}}</td>
      <td (click)="openForEdit(item.MatchID)">{{item.HomeXg}}</td>
      <td (click)="openForEdit(item.MatchID)">{{item.AwayXg}}</td>
      <td>
        <a class="btn text-danger" (click)="onMatchDelete(item.MatchID)"><i class="fa fa-trash fa-lg"></i></a>
      </td>
    </tr>
  </tbody>
</table>
</div>

